<div id="dg">
  <div class="container">
    <div class="row centered">
      <!-- <div class="row"> -->
      <%= form_with(model: schedule, local: true) do |form| %>
        <% if schedule.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

            <ul>
            <% schedule.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
        <div class="col-sm-4" align='right'>
          <%= form.label :duration %>
        </div>
        <div class="col-sm-6">
          <%= form.number_field :duration, id: :schedule_duration, class: 'form-control'%></br>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4" align='right'>
          <%= form.label :start_date %>
        </div>
        <div class="col-sm-6">
          <%= form.datetime_field :start_date, id: :schedule_start_date, class: 'form-control'%></br>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4" align='right'>
          <%= form.label :course_id %>
        </div>
        <div class="col-sm-6">
          <%#= form.select :course_id, id: :schedule_course_id, class: 'form-control'%>
          <%= form.select(:course_id, Course.all.collect {|u| [u.name, u.id]}, {:prompt => 'Select'},{class: 'form-control'}) %></br>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4" align='right'>
          <%= form.label :status %>
        </div>
        <div class="col-sm-6">
          <%#= form.text_field :status, id: :schedule_status, class: 'form-control'%>
          <%= form.select(:status, ["NOT YET STARTED", "CONFIRMED"],{:class=>"form-control", :prompt => 'Select'},{:class=>"form-control", required: true}) %></br>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-4" align='right'>
          </div>
        <div class="col-sm-4" align='right'>
          <%= form.submit class: 'form-control btn btn-primary'%>
        </div>
        </div>
      <% end %>
    <!-- </div> -->
    </div>
  </div>
</div>
