<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>Hyderabad branch Schedules</h4>
      <br>
      <% @schedules.each do |schedule| %>
      <div class="col-lg-4">
        <div class="pricing-option">
          <div class="pricing-top">
            <span class="special-label"><small><%= schedule.try(:status) %></small></span>
            <span> <%= schedule.course.name %> </span>
            <br>   <br>
            <span><%= schedule.try(:start_date) %> &nbsp;&nbsp;<small> Duration :<%= schedule.try(:duration) %> Days</small></span>
            <br>   <br>
            <span><button class="btn_register" data-toggle="modal" data-target="#register_course" href="#myModalLabel" data-course="<%= schedule.course.name %>" data-courseid="<%= schedule.course.id %>"><i class="fa fa-hand-o-right"> Register</i></button>&nbsp;&nbsp;&nbsp; <a href="target=&quot;_blank&quot;"><i class="fa fa-book">&nbsp;Course contents</i> </a> </span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render :partial => "/courses/register"  %>
  <!-- MODAL FOR CONTACT -->
  <%= render :partial => "/courses/contact_model"  %>


  <script>
  $(document).ready(function(){
    $(".btn_register").click(function(){
      console.log($(this));
      $('#course_field').append($("<option></option>").attr("value",$(this).data('courseid')).text($(this).data('course')));
    });

  });
</script>
