<div class="modal fade" id="register_course" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Register for a Course</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="pricing-option">
              <ul>
                <div style="margin:0;padding:0;display:inline">
                  <%= form_for( register, :url => '/registers', method: :post) do |f| %>
                  <div class="col-sm-3">Name:  </div><div class="col-sm-9"><%= f.text_field :name, id: "register_name", class:"form-control"%>
                  <%= hidden_field 'register[schedule_id]','', id: "register_schedule_id", class:"form-control"%></br></div>
                  <div class="col-sm-3">Email ID:</div><div class="col-sm-9"><%= f.text_field :email, id:"register_email_id", class:"form-control"%></br></div>
                  <div class="col-sm-3">Phone :</div><div class="col-sm-9"><%= f.text_field :phone, id:"register_phone", class:"form-control"%></br></div>
                  <div class="col-sm-3">Course :</div><div class="col-sm-9"><%= text_field :course,'', id:"register_course_name", class:"form-control"%></br></div>
                  <div class="col-sm-3">Message :</div><div class="col-sm-9"><%= f.text_area :message, cols: "40", rows: "3",class: 'form-control' %></br></div>
                  <div class="col-sm-12" valign="center"><%= f.submit class: 'btn btn-primary' %></div>
                  <% end %>
                  <!-- </form>               </ul> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
