<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>Hyderabad branch Schedules</h4>
      <br>
      <% @courses.each do |course| %>
      <a href="/courses/<%= course.id %>/edit">
      <div class="col-lg-4">
        <div class="pricing-option">
          <div class="pricing-top">
            <span class="special-label"><small><%= course.schedules.first.try(:status) %></small></span>
            <span> <%= course.name %> </span>
            <br>   <br>
            <span><%= course.schedules.first.try(:start_date) %> &nbsp;&nbsp;<small> Duration :<%= course.schedules.first.try(:duration) %> Days</small></span>
            <br>   <br>
            <span><button class="btn_register" data-toggle="modal" data-target="#register_course" href="#myModalLabel" data-course="<%= course.name %>" data-courseid="<%= course.id %>"><i class="fa fa-hand-o-right"> Register</i></button>&nbsp;&nbsp;&nbsp; <a href="target=&quot;_blank&quot;"><i class="fa fa-book">&nbsp;Course contents</i> </a> </span>
            </div>
          </div>
        </div>
      </a>
        <% end %>
      </div>
    </div>
  </div>
  <%= render :partial => "/courses/register"  %>
  <!-- MODAL FOR CONTACT -->
  <%= render :partial => "/courses/contact_model"  %>


  <script>
  $(document).ready(function(){
    $(".btn_register").click(function(){
      console.log($(this));
      var a =$(this).data('courseid')
      alert(a);
      $("#course_field").val($(this).data('course'));
    });

  });
</script>
