<!DOCTYPE html>
<html>
<head>
  <title>Rrootshell</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "/layouts/navbar"%>
  <div class="content">
     <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
          <%= render :partial => "/layouts/footer" %>
        </div>
      </footer>
</body>
</html>
